**/.vscode/**
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/extensions.json

**/tmp/
**/pkg/
**/dump/*.sql
**/logs/*.log
**/db/schema.rb
**/config/*.yaml
**/node_modules
**/public/packs
**/public/packs-test

.env
*.cmd
*.gem
*.log
*.out
*.swo
*.swp
.keep
*.lock
*.yaml
.bundle
bundled
coverage
nohup.out
.DS_Store
.byebug_history


